:root {
    --font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    --clr-background: #272727;
    --clr-text: #f3f3f3;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100dvh;
    width: 100dvw;
    background-color: var(--clr-background);
    color: var(--clr-text);
    font-family: var(--font-family);
}

body {
    width: clamp(300px, 100%, 600px);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#blockquote {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#quote::before {
    content: open-quote;
}

#quote {
    font-size: 1.75rem;
    font-style: italic;
    text-align: center;
}

#quote::after {
    content: close-quote;
}

#quote-author {
    font-size: 1.25rem;
    font-style: italic;
    text-align: center;
}
